.div_imagenes{
	text-align: center;
}
.div_datos_articulo{
	text-align: center;
	display: flex;
	flex-direction: column;
}
h2{
	padding-top: 10px;
	padding-bottom: 50px;
	text-align: center;
}
input{
	padding: 10px;
	margin-bottom: 10px;
	margin-top:10px;
}